<footer>
    <div class='circle-footer'></div>
    <div class='contacts-container'>
        {% include "contactTexts.html" %}
        <p class='copyright'>© 2022 Jefferson Oliveira</p>
    </div>
</footer>