---
layout: layout.njk
title: Home
---

<section class="about">
  My passion for computers comes from when I was a teenager. From disassembling my desktop to try different parts, reinstalling the OS to my first contact with Linux.  During my degree in Aerospace Engineering I was eager to code, which led me to work for 3 years on a project where I could develop and write the code of a solution for a fluid dynamics problem of an aeronautical company. Later, during my master degree, I had the opportunity to work for 2 years on developing the algorithm for predicting air-conditioner noise in cars, and it implement it on Python. In the course of studying it for the master, I got amazed by the web development world.</section>
<section class="Skills">
  <h2>Skills</h2>

  <ul>
    {% for skill in skills %}
      <li>{{ skill.name }}</li>
    {% endfor %}
  </ul>
</section>