---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
  <main>
    <h1 class="border-2 border-rose-500">Project rewrite to Astro</h1>
    <ul role="list"> 
      <Card
        href=""
        title="Card title"
        body="Card body"
      />
    </ul>
  </main>
</Layout>
