<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/sanitize.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/typography.css' | url }}">
  </head>

  <body>
    <nav class="navbar ">
      <a href='/'>Home</a>
      <a href='/blog'>Blog</a>
      <a href='/projects'>Projects</a>
    </nav>

    <header>
      <h1>Jefferson Oliveira</h1>
    </header>

    <main>
      {{ content | safe}}
    </main>
  </body>
</html>