footer {
  overflow: hidden;
  position: relative;
  height: 10rem;
}

.circle-footer {
  border-radius: 100%;
  background-color: #c9c0ff;
  height: 100vw;
  width: 200vw;
  position: absolute;
  left: -50vw;
}

.contacts-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts-container > a {
  padding: 0.2rem;
  margin: 1em;
  margin-bottom: 0;
  color: white;
}

.contacts-container > a:hover {
  filter: invert(100%) blur(0.7px);
}

.copyright {
  flex-basis: 100%;
  margin-top: 0;
  text-align: center;
}
