@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Press+Start+2P&display=swap");

header {
  margin: 3rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  margin: 3rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  border: 0.2rem solid #ac99ef;
  width: 50vw;
}

h1 {
  font-size: 1.3rem;
  color: #31188c;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-shadow: 0.1em 0 0 #31188c, 0 0.1em 0 #31188c, -0.1em 0 0 #31188c,
    0 -0.1em 0 #31188c;
}

h2 {
  font-size: 1.2rem;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0 0 #31188c, 0 0.1em 0 #31188c, -0.1em 0 0 #31188c,
    0 -0.1em 0 #31188c;
}

h3 {
  font-family: "Press Start 2P", cursive;
  color: #31188c;
  font-size: 1rem;
}

img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
}

.profile-photo {
  max-width: 15em;
  margin: 1rem;
  border-radius: 50%;
}

.header-icons-container > a {
  height: 1.5em;
}

.header-icons-container > a:hover {
  filter: invert(100%) blur(0.7px);
}

.navbar {
  text-align: center;
  background-color: #c9c0ff;
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-links > a {
  color: white;
  font-size: 1.5em;
  margin: 0 0.2em;
}

.navbar-links > a:hover {
  color: black;
  filter: blur(0.7px);
}

.hero {
  text-align: center;
}

p.hero {
  max-width: 30em;
  width: 100%;
}

.stack-text {
  color: #31188c;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Press Start 2P", cursive;
  margin: 3rem;
}

.skills-container {
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-icon {
  height: 2em;
  margin: 1rem;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-box {
  width: 20em;
  margin: 1em;
  padding: 1em 3em 2em 3em;

  border: 0.1rem solid #31188c;
  box-shadow: -0.4rem 0.5rem 0 #31188c;
}
