header {
  margin: 3rem;
  text-align: center;
}

main {
  margin: 3rem;
}

a {
  text-decoration: none;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbar {
  text-align: center;
  background-color: #c9c0ff;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > a {
  color: #060940;
  font-size: 1.5em;  
  margin: 0 1em;
}

.about {
  text-align: center;
}

p.about {
  max-width: 30em;
  width: 100%;
}

/* .pure-menu-item { */
/* background-color: red; */
/* } */
