.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-box {
  width: 20em;
  margin: 2em;
  padding: 1em 2em 1.5em 2em;
  border: 0.1rem solid #c9c0ff;
  box-shadow: -0.4rem 0.5rem 0 #c9c0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.git-logo {
  text-align: center;
  height: 1.5em;
  margin: 0.5em;
}

.projects-box > h3 {
  text-align: center;
}

.project-cta {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
