<section class="text-center">
  <img
    class="rounded-full h-72 mx-auto p-10"
    src="/images/profile-photo.jpg"
    alt="profile photo"
  />
  <h1 class="text-3xl">Hey, I'm Jefferson Oliveira</h1>
  <div class="stack-text text-2xl text-violet-800 uppercase m-12">
    Software Engineer
    <br />
    Fullstack - Frontend React - Backend Node/Python
  </div>
</section>

<style>
  .stack-text {
    font-family: "Press Start 2P", cursive;
  }
</style>
