---
import { PROJECTS } from "../config";
---

<section class="pt-10">
  <h2 class="text-center text-xl">Projects</h2>
  <hr />

  <ul class="flex flex-wrap justify-center">
    {
      PROJECTS.map((project) => (
        <li class="projects-box w-80 m-8 p-8 flex flex-col justify-between border-2 border-primary">
          <h3 class="text-secondary text-center">{project.name}</h3>
          <a class="p-4" href={project.repo} target="_blank" rel="noopener">
            <img
              class="h-8 mx-auto hover:blur-[0.7px] hover:invert"
              src="/images/git-logo.svg"
              alt="github logo"
            />
          </a>
          <p class="py-5">{project.description}</p>

          <div class="text-center py-7">
            <p class="font-bold">Tools</p>
            <p class="">{project.tools.join(" - ")}</p>
          </div>

          <div class="text-center font-bold text-secondary">
            <a
              class="hover:blur-[0.5px]"
              href={project.link}
              target="_blank"
              rel="noopener"
            >
              Use it
            </a>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .projects-box {
    box-shadow: -0.4rem 0.5rem 0 #c9c0ff;
  }
</style>
