@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Press+Start+2P&display=swap");

h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-shadow: 0.1em 0 0 #31188c, 0 0.1em 0 #31188c, -0.1em 0 0 #31188c,
    0 -0.1em 0 #31188c;
}

h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-shadow: 0.1em 0 0 #31188c, 0 0.1em 0 #31188c, -0.1em 0 0 #31188c,
    0 -0.1em 0 #31188c;
}

h3 {
  font-family: "Press Start 2P", cursive;
}

hr {
  border: 0.2rem solid #c9c0ff;
  width: 50vw;
  margin: auto;
}

