---
layout: layouts/base.njk
title: Blog
main_css_class: blog
---

<h1>Blog Page</h1>
<ul>
  {%- for post in collections.posts -%}
    <li>
      <a class="bold-link" href="{{ post.url }}">
        {{ post.data.date.getUTCFullYear() }} / {{ post.date.getUTCMonth() + 1 }} / {{ post.date.getUTCDate() }} - {{ post.data.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>
