---
layout: layouts/base.njk
title: Home
---

<section class="hero">
  <img class='profile-photo' src="/assets/images/profile-photo.jpg"/>
  <h1 >
    Hey, I'm Jefferson Oliveira
  </h1>
  <div class='stack-text'>
    Software Engineer 
    <br />
    Fullstack - Frontend React - Backend Node/Python
  </div>
</section>

<section class='skills-container'>
  {% for skill in skills %}
    <img class='skill-icon' src="{{ skill.icon }}"/>
  {% endfor %}
</section>

<section class="projects">
  <h2>Projects</h2>
  <hr/>

  <div class='projects-container'>
    <div class='projects-box'>
      <h3>Savings Manager</h3>
      <ul ></ul>
    </div>

  </div>
</section>