---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta
      name="description"
      content="Home page for Jefferson Dev Insights software engineer"
    />
  </head>

  <body class="flex flex-col min-h-screen justify-between">
    <Navbar />
    <main class="flex-1 mx-2 my-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
